[class^="imgicon_"], [class*="imgicon_"] {
	margin: 2px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
}

.imgicon_shouye{
	background:url(../images/navicon/icon-shouye.png) no-repeat;
	background-size:100%;
}
.imgicon_qbfenlei{
	background:url(../images/navicon/icon-qbfenlei.png) no-repeat;
	background-size:100%;
}
.imgicon_gouwuche{
	background:url(../images/navicon/icon-gouwuche.png) no-repeat;
	background-size:100%;
}
.imgicon_jingxi{
	background:url(../images/navicon/icon-jingxi.png) no-repeat;
	background-size:100%;
}
.imgicon_wo{
	background:url(../images/navicon/icon-wo.png) no-repeat;
	background-size:100%;
}
.imgicon_dingdan{
	background:url(../images/navicon/icon-dingdan.png) no-repeat;
	background-size:100%;
}
.imgicon_fujin{
	background:url(../images/navicon/icon-fujin.png) no-repeat;
	background-size:100%;
}
.imgicon_kaquan{
	background:url(../images/navicon/icon-kaquan.png) no-repeat;
	background-size:100%;
}
.imgicon_qiandao{
	background:url(../images/navicon/icon-qiandao.png) no-repeat;
	background-size:100%;
}
.imgicon_liwu{
	background:url(../images/navicon/icon-liwu.png) no-repeat;
	background-size:100%;
}
.imgicon_faxian{
	background:url(../images/navicon/icon-faxian.png) no-repeat;
	background-size:100%;
}
.imgicon_miaosha{
	background:url(../images/navicon/icon-miaosha.png) no-repeat;
	background-size:100%;
}
.imgicon_zhongchou{
	background:url(../images/navicon/icon-zhongchou.png) no-repeat;
	background-size:100%;
}
.imgicon_youxi{
	background:url(../images/navicon/icon-youxi.png) no-repeat;
	background-size:100%;
}
.imgicon_remen{
	background:url(../images/navicon/icon-remen.png) no-repeat;
	background-size:100%;
}
.imgicon_shangxin{
	background:url(../images/navicon/icon-shangxin.png) no-repeat;
	background-size:100%;
}
.imgicon_tehui{
	background:url(../images/navicon/icon-tehui.png) no-repeat;
	background-size:100%;
}
.imgicon_dapei{
	background:url(../images/navicon/icon-dapei.png) no-repeat;
	background-size:100%;
}
.imgicon_qingcang{
	background:url(../images/navicon/icon-qingcang.png) no-repeat;
	background-size:100%;
}
.imgicon_jingxuan{
	background:url(../images/navicon/icon-jingxuan.png) no-repeat;
	background-size:100%;
}
.imgicon_nvzhuang{
	background:url(../images/navicon/icon-nvzhuang.png) no-repeat;
	background-size:100%;
}
.imgicon_nanzhuang{
	background:url(../images/navicon/icon-nanzhuang.png) no-repeat;
	background-size:100%;
}
.imgicon_xiezi{
	background:url(../images/navicon/icon-xiezi.png) no-repeat;
	background-size:100%;
}
.imgicon_caizhuang{
	background:url(../images/navicon/icon-caizhuang.png) no-repeat;
	background-size:100%;
}
.imgicon_shuma{
	background:url(../images/navicon/icon-shuma.png) no-repeat;
	background-size:100%;
}
.imgicon_muyin{
	background:url(../images/navicon/icon-muyin.png) no-repeat;
	background-size:100%;
}
.imgicon_shiwu{
	background:url(../images/navicon/icon-shiwu.png) no-repeat;
	background-size:100%;
}
.imgicon_jiadian{
	background:url(../images/navicon/icon-jiadian.png) no-repeat;
	background-size:100%;
}
.imgicon_jiaju{
	background:url(../images/navicon/icon-jiaju.png) no-repeat;
	background-size:100%;
}
.imgicon_zhubao{
	background:url(../images/navicon/icon-zhubao.png) no-repeat;
	background-size:100%;
}
.imgicon_qiche{
	background:url(../images/navicon/icon-qiche.png) no-repeat;
	background-size:100%;
}
.imgicon_jiafang{
	background:url(../images/navicon/icon-jiafang.png) no-repeat;
	background-size:100%;
}
.imgicon_yiyao{
	background:url(../images/navicon/icon-yiyao.png) no-repeat;
	background-size:100%;
}
.imgicon_tushu{
	background:url(../images/navicon/icon-tushu.png) no-repeat;
	background-size:100%;
}















