body{ background:#fff;}

.list_font{border-bottom:1px #ddd solid ; padding: 1% 1% 0}
.list_font li{ background:none; width:33.333%; box-sizing: border-box; margin:0; padding:2%; overflow:hidden;}
.list_font li a:nth-child(2){ display:none;}
.list_font li:nth-child(8n+1),
.list_font li:nth-child(8n+2),
.list_font li:nth-child(8n+3)
{border-right:1px #ddd solid ;border-bottom:1px #ddd solid ;}
.list_font li:nth-child(8n+3){border-right:1px rgba(255,255,255,0) solid;}
.list_font li:nth-child(8n+4){ width: 61.333%;box-sizing: initial; }
.list_font li:nth-child(8n+5){ width: 30.666% ;padding-bottom: 0;box-sizing: initial;}
.list_font li:nth-child(8n+6){ width: 30.666% ;box-sizing: initial;}
.list_font li:nth-child(8n+7){width: 30.666%; padding-top: 0; clear: both;box-sizing: initial;}
.list_font li:nth-child(8n+8){width: 61.333%; padding-top: 0; box-sizing: initial;}

.goods_show .goods_title{ display:none;}
.goods_iwrap {margin:0;padding:0 0 0 70px; box-shadow:none;}
.goods_wrap li:not(.container){ width:97%;}
.goods_wrap  li{width: 100%;height:80px;overflow:hidden; position: relative; padding:10px 2% 10px 115px; box-sizing: border-box; border-bottom: 1px #ddd dashed}
.goods_wrap  .goodImg_wrap{width:60px; height:60px; overflow: hidden; position: absolute; left:2%; top:10px; margin:0;}
.goods_wrap  .goodImg_wrap img{ width: 100%;}
.goodsTitle {max-height:3.6rem; padding:5px 0 0 0;}
.goodsTitle a.list{ white-space:normal;}
.goodsPrice{ padding:0 0 0 5px; }
.goodsPrice span{width: auto;}
.goodsPrice span:nth-child(2){}
.goodsPrice .proPrice{float:left;}
.goodsPrice .prosales{ float:right;}

.header_region{ height: 45px; background:#fafafa; border-top: none; overflow: visible;}
.class_nav ul{border-top: 2px #3aad02 solid;overflow: visible;}
.class_nav li { border: 2px #3aad02 solid;box-sizing: border-box; border-radius:50%; margin-top:-15px; background: #fff;}
.class_nav li span,.class_nav li span i{ color: #3aad02}
.class_nav li span{ margin-top: -10px;}
.class_nav li a{display: block; background: #fff; position: relative; top:13px; margin-left: -2px; margin-right: -2px;}

.region_content{ padding-bottom:.8rem;}

/**************官网模版样式*****************/
.home_block{overflow: hidden; width:auto; margin:0;padding: 5px;}
.home_block li{float: left;text-align: center;width: 25%; padding:0;}
.home_block li a{display: block;font-size: 14px;margin: 5px;}
.home_block li img{border: 2px solid #fff;border-radius:65px;display:inline-block;height:65px;overflow:hidden;width:65px;}
.home_block .box{ background:none; color:#fff;}
.home_block .figure{ display:none;}