<!--辅助空白区设置页面-->
<div class="blankset padding10 clearfix" >
	<div class="clearfix">
		<h4 class="app-m-title">空白区设置</h4>
		<div class="hr"></div>
	</div>
	<div class="form-group">
	  <div class="col-sm-3 control-label" >空白高度：</div>
	  <div class="col-sm-9">
	  	<div class="input-group">
	    <div id="sliderInput"></div>
	    <div class="input-group-addon no-border no-background no-padding padding-left10">
	    	<span ng-bind="blankHight" class="inline padding-left6"></span>像素
	    </div>
	   </div>
	  </div>
  </div>
  
</div>