/*浏览器升级*/
.cover_browser {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgb(0, 0, 0);
  filter: alpha(opacity=50);
  opacity: 0.50;
}

.upgrade_browser {
  padding: 35px 35px 35px 210px;
  width: 545px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  font-size: 18px;
  position: fixed;
  _position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -270px;
  z-index: 10000;
  background: #fff url(http://www.vikduo.com/snsshop_admin/img/google.jpg) no-repeat 20px center;
  font-size: 16px;
  color: #666;
  line-height: 30px;
}

.upgrade_browser a {
  display: inline-block;
  margin-top: 20px;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.upgrade_browser .tt {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.upgrade_browser span {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
}